.calculator{
	height: 300px;
	width: 200px;
	margin: auto;
	border: 10px solid #000;
	border-radius: 10px;
	background-color: #000;
	padding: 5px;
	display: grid;
    align-content: center;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(4, 1fr);
	/* Defining grid areas names */
	grid-template-areas:
		"header header header header"
		"all-clear all-clear delete addition"
		"button7 button8 button9 subtraction"
		"button4 button5 button6 multiplication"
		"button1 button2 button3 division"
		"button0 button0 dot evaluate";
}

.calculator .numberBox > button {
  cursor: pointer;
}

.calculator .numberBox > button:hover {
  cursor: pointer;
  background-color: #ccc;
}

.calculator .clear > button {
  background-color: #f66; /* light-red */;
  color: #fff;
  border: none;
}

.calculator .clear > button:hover {
  background-color: #f33;
}

/* Positioning input/results display in the grid. */

.showBoxDiv{
	grid-area: header;
	font-size: 30px;
	height: 50px;
	background-color: #ccc;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
	padding: 0 5px;
	margin-bottom: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

/* Positioning buttons in their respective grid areas */

.one { grid-area: button1; }
.two { grid-area: button2; }
.three { grid-area: button3; }
.four { grid-area: button4; }
.five { grid-area: button5; }
.six { grid-area: button6; }
.seven { grid-area: button7; }
.eight { grid-area: button8; }
.nine { grid-area: button9; }
.zero { grid-area: button0; }
.clear { grid-area: all-clear; }
.delete { grid-area: delete; }
.addition { grid-area: addition; }
.subtract { grid-area: subtraction; }
.multiply { grid-area: multiplication; }
.divide { grid-area: division; }
.dot { grid-area: dot; }
.evaluation { grid-area: evaluate; }

/* Styling operations buttons */

.addition button,
.subtraction button,
.multiplication button,
.division button,
.evaluation button  {
	background-color: #aaa;
}

.number{
	width: 100%;
	height: 100%;
	font-size: 20px;
}
